* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
}

ul {
    list-style: none;
}

li {
    display: inline;
    padding: 0 2rem
}

li a {
    text-decoration: none;
    font-size: 2rem;
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    transition: all 0.2s linear;
}

li a:hover {
    background-color: #f08172;
    color: #fff;
}

.bag {
    height: 3rem;
    width: 3rem;
    cursor: pointer;
    transition: all 0.2s linear;
}

.bag:hover {
    height: 3.2rem;
    width: 3.2rem;
}

/* ---------------center------------------ */
.col_2 img{
   height: 45rem;
   width: 45rem;
}

.btn {
    background: #ff523b;
    color: #fff;
    padding: .8rem 3rem;
    font-size: 2rem;
    border-radius: 3rem;
    transition: all .2s linear;
}

.btn:hover {
    background: #fd9a8d;
    color: black;
}


/* --------------------footer------------- */
.footer {
    background: black;
    color: white;
}

.row5 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5rem;
    padding: 3rem 0;
}

.footer-col-1 img {
    height: 5rem;
    width: 15rem;
    margin-top: 0.2rem;

}

.footer-col-1 h3 {
    font-size: 2rem;
}

.footer-col-1 p {
    font-size: 1.5rem;
    text-transform: capitalize;
}

.footer-col-2 {
    text-align: center;

}

.footer-col-2 p {
    font-size: 1.5rem;
    text-transform: capitalize;
}

.footer-col-3 li {
    font-size: 1.5rem;
    padding: .5rem 0;
    cursor: pointer;
}

.footer-col-3 h3 {
    font-size: 2rem;
}

.footer-col-4 li {
    font-size: 1.5rem;
    padding: .5rem 0;
    cursor: pointer;
}

.footer-col-4 h3 {
    font-size: 2rem;
}

.copyright {
    font-size: 1.5rem;
    padding: 2rem 0;
    text-align: center;
}

.menu-icon {
    height: 3rem;
    width: 3rem;
}

/* -------------------------media quary for menu---------------- */

@media only screen and (max-width: 58rem) {

    html {
        font-size: 52%;
    }

    .menu ul {
        position: absolute;
        right: 3rem;
        top: 8rem;
        background: #555;
        overflow: hidden;
        transition: max-height 0.3s;
    }

    .menu ul li {
        display: block;
        padding: 0.5rem 0;
    }

    .menu ul li a {
        color: white;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
    }

    .footer-col-1 {
        text-align: center;
    }

    .footer-col-1 p {
        display: none;
    }

    .footer-col-2 img {
        width: 18rem;
        margin-top: 1.8rem;
    }

    .footer-col-2 p {
        display: none;
    }

    .footer-col-3 {
        text-align: center;
    }

    .footer-col-4 {
        text-align: center;
    }

    .row5 {
        flex-direction: column;
    }

}